<link type="text/css" rel="stylesheet" href="../css/cssTemplate.css"/>
<div class='contenedor'>
    <div id='banner'>
        <div id='logo'>
            Centro Sport Rancagua
        </div>
    </div>

    <div id='menu'>
        <div id='menuCentrado'>
            <div class='mItem'><a href="../ubicacion/index.php">Ubicación</a></div>
            <div class='mItem'><a href="../crearCliente/index.php">Registrarse</a></div>
            <div class='mItem'><a href="../reservar/index.php">Reservar Cancha</a></div>
        </div>
    </div>
</div>
